*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    @font-face{
        font-family: "pix";
        src: url("pixel.ttf") format(truetype);
        font-weight: normal;
        font-style: normal;
    }

    body{
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(207, 2, 2, 0.336);
    }

    a{
        color: rgb(90, 90, 253);
    }

    #jogos{
        display: flex;
        justify-content: center;
    }

    .img-link{
        width: 50px;
        margin: 5px;
        
    }

    .img-link:hover{
        transform: scale(1.5);
        transition: 0.5s, all;
    }

    p{
        margin: 20px;
    }

    h2{
        font-family: 'pix';
        text-align: center;
    }

    #intro-pag{
        background-image: linear-gradient(to bottom, rgb(255, 0, 0), rgb(87, 0, 0));
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: white;
        height: 250px;

    }

    h1{
        text-align: center;
    }

    img{
        width: 300px;
        display: block;
        margin: 20px auto;
    }   

    main{
        box-shadow: black 3px 3px 5px;
        margin: 0px 100px 0px 100px;
        background-color: rgb(255, 255, 255);
    }

    footer{
        background-color: rgb(141, 0, 0);
        height: auto;
        text-align: center;
        padding: 40px;
        color: white;
    }

    #space{
        background-color: green;
    }
    
    #pac{
        background-color: yellow;
    }

    #dk{
        background-color: rgb(143, 21, 0);
    }

    #mario{
        background-color: red;
    }
